# Dependencies
node_modules/
**/node_modules/

# Next.js build outputs
.next/
**/.next/

# Node/Express build output
dist/
**/dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env*

# SQLite databases
*.db
*.db-journal
**/*.db
**/*.db-journal

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vercel
